/* Style the video: 100% width and height to cover the entire window */
*{
  margin:0;
  padding: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
  }
h1{
    font-size: 40px;
    font-weight: 100;
    background-image: linear-gradient(to right,#ff7b00 0,#e63d3d 22%, #1100ff 45%,#f3b962 50%,#9b1e1e 55%,#ebec87 78%,#c50a00 100%);
    color:transparent;
    background-clip: padding-box;
    -webkit-background-clip:text;
    overflow: hidden;
    animation: text 4s steps(22) infinite ;
    border-right: 3px;
    white-space: nowrap;
    width:22ch;
}

@keyframes text{
  0%{
      width:0ch;

  }
  50%{
      width: 22ch;
  }
}
  
  /* Add some content at the bottom of the video/page */
  .container {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
.button {
    width: 100px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 40px;
    padding: 10px 10px;
    background: #000;
    border: 2px solid #0f0;
    cursor: pointer;
    color: #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
}

.button a{
  text-decoration: none;
  color: #fff;

}
  
input[type="submit"]:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px #0f0;
  background:#0f0
}






/* Lamp container */

.lamp-container{
    position: absolute;
    top:-20px;
    left: 80%;
    width: 100px;
  
 
}
.lamp{
  position: absolute;
  width:82%;
  top:10px;
  left: -10%;
  width: 100px;   
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}
@keyframes movedown{
  0%{
      transform: translateY(-100px);
      visibility: visible;

  }
  100%{
      transform: translateY(0);
      visibility: visible;
  }
}


.beaker{
  position: absolute;
  top: 40%;
  transform: translateY(185%);
  left: -85%;
  width: 250px;
  opacity:0;
  transition: opacity 0.5s;
}
 .table{
  position: absolute;
  top: 90%;
  transform: translateY(340%);
  left: -105%;
  width: 280px;

}


.light{
     position: absolute;
     top: 98%;
     transform: translateY(120%);
     left: -103%;
     width: 280px;
     opacity:0;
     transition: opacity 0.5s;
 }
.result{
  position: absolute;
  top: 20%;
  transform: translateY(915%);
  left: -94%;
  width: 180px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 40px;
  padding: 10px 10px;
  color: #0f0;
  border-radius: 10%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background:rgb(0, 0, 0);


}




.back{
  position: absolute;
  top: 100%;
  transform: translateY(20%);
  left: -100%;
  width: 280px;
  height: 500px;
  border: 3px solid #2600ff;
  border-radius: 30px;
  box-shadow: 0 0 10px #2600ff;
  

}

.hide{
  opacity: 0;
}

.on{
  opacity: 1;
}





/* Contents  */


.content{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 60px 32px;
  width: 280px;
  height:320px;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
  border-style:inset;
  backdrop-filter: blur(5px);
  border-color: rgb(255, 0, 0);

}


.field{
  position: relative;
  height: 45px;
  width: 80%;
  display: flex;
  background: #000;
  border: 3px solid #2600ff;
  box-shadow: 0 0 10px #2600ff;;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
 

}   

.space{
  margin-top: 16px;
  margin-left: 25px;
}